{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ result.0.1 }} | {{ nazwa_przedszkola|default:_('Smerfowe przedszkole') }}
{% endblock %}
{% block style %}
    body{
    background-color:#f4f4f4;
    }
    .inner_aktualnosci{

    width:80%;
    padding: 10px 10px;
    padding-top:5px;
    max-width:1600px;
    background-color: #ffffffff;
    box-shadow: 6px 6px 14px -7px rgba(0,0,0,0.41);
    margin:0px auto 10px auto;
    border-radius:3px;
    font-family:Lato;
    }
    .headerakt{
    width:100%;
    align-self: flex-end;
    text-align:left;
    padding: 20px 20px; padding-bottom: 10px;color:white; margin: 0;
    }
    .data{
    font-size:14px;
    padding: 8px 20px;
    padding-top:0px;
    width:100%;
    color: white;
    }
    .akt_image{
    margin: 0 auto;
    width:83%;
    max-width:1640px;
    background-color:#42698b;
    position:relative;
    box-shadow: inset 0px -99px 81px -71px rgba(41,41,41,1);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:3px;
    }
    .gallery{
    width:100%;
    height:200px;
    }
    .elementgal{
    width:33.33%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index:-1;
    float:left;
    }
    .buttongal{
    padding: 10px;
    margin: 0 auto;
    align-self: center;
    border-radius:2px;
    background-color:#42698b;
    font-family:'Patrick Hand';
    font-size:28px;

    }
    .overgal{
    height: 200px;clear: both; position: absolute;width: 80%;background-color: #22222266;display: flex;
    }
    @media only screen and (orientation: portrait) {
    .overgal{
    width:100%;
    }
    .inner_aktualnosci{
    width:100%;
    padding: 10px 0px;

    }
    .inner_aktualnosci p{
    padding: 0 10px;
    }
    .akt_image{
    width:100%;
    padding-top: 10vh;
    }
    }
{% endblock %}
{% block content %}
    <div class="akt_image" style="{% if result.0.6 %} background-image: url('{% get_media_prefix %}{{ result.0.6 }}') {% else %}height: auto;{% endif %}">
        <div class="headerakt"><h1
                style="">{{ result.0.1 }}</h1>
            <div class="data">{{ result.0.2 }}</div>
        </div>
    </div>
    <div class="inner_aktualnosci">
        <div style="padding: 0 10px;">{% autoescape off %}{{ result.0.3 }}{% endautoescape %}</div>
        {% if gallery != '' %}<a href="/gallery/album/{{ result.0.5 }}/{{ result.0.5 }}">
            <div class="gallery">
                {% for i in  gallery %}
                    {% if forloop.counter0 < 3 %}
                    <div class="elementgal" style="background-image: url('{% get_media_prefix %}{{ i.0 }}')"></div>
                    {% endif %}
                {% endfor %}
                <div class="overgal"><div class="buttongal">Galeria zdjęć</div></div>
            </div>
        </a> {% endif %}
    </div>

{% endblock %}