{% extends "mybase.html" %}
{% load scheduletags %}
{% load static %}
{% block script %}
<script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "schedule.js" %}"></script>
    <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
    {% include "fullcalendar_script.html" %}

{% endblock %}
{% block content %}
    <div class="slider">
        {% for i in slider %}
            <div class="mySlides"
                 style=" {% if forloop.counter0 == 0 %}display: block;{% else %}display: none;{% endif %} {% if i.zdjecie %}background-image:url('{% get_media_prefix %}{{ i.zdjecie }}');{% endif %}">
                <div id="leftarr" onclick="plusDivs(-1)"></div>
                <a href="/aktualnosci/{{ i.ID }}">
                    <div class="slider_con"><h1>{{ i.tytul }}</h1></div>
                </a>
                <div id="rightarr" onclick="plusDivs(1)"></div>
            </div>
            <div class="info_near_slider" style="{% if forloop.counter0 == 0 %}{% else %}display: none{% endif %}">
                <div class="slid_con_text"><h1>{{ i.tytul }}</h1><a href="/aktualnosci/{{ i.ID }}">
                    <div class="button">Czytaj dalej</div>
                </a></div>
            </div>
        {% endfor %}
    </div>
    <div class="content_main">
        <div id="col_inn">
            <div style=" width: 100%; background-color: #adadad22;">
                <h1 class="h1style">Ważne donośniki</h1>
                <svg viewBox="0 0 311.1 14.4">
                    <polyline points="0.7,13.7 13.4,0.8 25.3,12.8 37.2,0.8 49,12.8 60.9,0.8 72.8,12.8 84.7,0.8 96.6,12.8 108.4,0.8
	120.3,12.8 132.2,0.8 144,12.8 155.9,0.8 167.7,12.8 179.8,0.7 191.7,12.8 203.6,0.8 215.4,12.8 227.3,0.8 239.2,12.8 251.1,0.8
	262.9,12.8 274.8,0.8 286.7,12.8 298.6,0.8 310.4,12.8 "></polyline>
                </svg>
                <div class="gridbox">
                    <div class="infoboxbottom" style="background-color: #3c4ac98f">
                        <div class="title" style="background-color: #3c4ac9aa">{{ box.0.1 }}</div>
                        {% for i in box.0 %}
                            {% if forloop.counter0 < 2 %}{% else %}
                                <a href="/site/{{ i.1 }}">
                                    <div class="elementi">{{ i.0 }}</div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="infoboxbottom" style="background-color: #a63cc98f">
                        <div class="title" style="background-color: #a63cc9aa">{{ box.1.1 }}</div>
                        {% for i in box.1 %}
                            {% if forloop.counter0 < 2 %}{% else %}
                                <a href="/site/{{ i.1 }}">
                                    <div class="elementi">{{ i.0 }}</div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="infoboxbottom" style="background-color: #c9663c8f">
                        <div class="title" style="background-color: #c9663caa">{{ box.2.1 }}</div>
                        {% for i in box.2 %}
                            {% if forloop.counter0 < 2 %}{% else %}
                                <a href="/site/{{ i.1 }}">
                                    <div class="elementi">{{ i.0 }}</div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <div id="leftarrin" class="button_aktual" onclick="nextactu(-9,{{ infobox|length }})"
                     style="display: none; background-image: url('/static/index/previous.svg');   margin-top: 15px;"></div>
                <h1 class="h1style">Aktualności</h1>
                <div id="rightarrin" class="button_aktual" onclick="nextactu(9,{{ infobox|length }})"
                     style=" {% if infobox|length < 11 %}display:none;{% endif %}background-image: url('/static/index/next.svg'); right: 0;margin-top: -65px;"></div>
                <svg viewBox="0 0 311.1 14.4">
                    <polyline points="0.7,13.7 13.4,0.8 25.3,12.8 37.2,0.8 49,12.8 60.9,0.8 72.8,12.8 84.7,0.8 96.6,12.8 108.4,0.8
	120.3,12.8 132.2,0.8 144,12.8 155.9,0.8 167.7,12.8 179.8,0.7 191.7,12.8 203.6,0.8 215.4,12.8 227.3,0.8 239.2,12.8 251.1,0.8
	262.9,12.8 274.8,0.8 286.7,12.8 298.6,0.8 310.4,12.8 "></polyline>
                </svg>
                <p class="h1style" style="font-size: 20px; padding-top: 0px">Wiadomości z naszego przedszkola</p>
                <div class="gridbox">
                    {% if infobox|length == 0 %}
                        <h1 style="margin-top: 40px; color: #42698b">Brak postów</h1>
                    {% else %}
                        {% for i in infobox %}
                            {% if forloop.counter0 < 499 %}
                                <a class="aktual" href="/aktualnosci/{{ i.ID }}"
                                   style="{% if forloop.counter0 >= 9 %} display: none; {% endif %}">
                                    <div class="infobox"
                                         style="{% if i.important == True %}background-color: #FF7900;{% endif %}">
                                        {% if i.zdjecie %}
                                            <div class="image" style="background-color: #a64ee6; background-image: url('{% get_media_prefix %}{{ i.zdjecie }}');"></div>{% endif %}
                                        <div class="title">{{ i.tytul }}</div>
                                        <div class="time">{{ i.data }}</div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="body">
                <div id='calendar' style="padding: 9vw; height: 70vw; width: 70vw; margin-left: auto;margin-right: auto; padding-bottom: 0"></div>

            </div>
        </div>
    </div>

{% endblock %}
