@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');


/* kontakt */
svg {
    fill: none;
    stroke: #42698b;
    stroke-width: 2;
    width: 100%;
    height: 10px;

}

#info {
    width: 100%;
    height: 34px;
    background-color: #5db4e2;
    letter-spacing: 1px;
    color: #f8f8ff;
}

/* 62CDFD */
#info .middle {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info p {
    display: table-cell;
    vertical-align: middle;

}

.inmiddle {
    display: flex;
    float: left;
    width: 100%;
    justify-content: space-around;
}

/* #AA6FE3
#60F76C
#FFF4A9
*/
.left {
    margin-top: 10px;
    float: left;
    color: whitesmoke;
    display: inline-block;
}

.middle img {
    height: 24px;
    float: left;
    color: whitesmoke;
}

.middle p {
    margin: 0px;
    padding-left: 4px;
    line-height: 24px;
    float: left;
}

/* ========================== */

#nav {
    height: 80px;
    width: 100%;
    background-color: #f8f8ff;
}

#nav .middle {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

#nav .middle #buttonvav {
    right: 20px;
    height: 5vh;
    width: 5vh;
    display: none;
}

#nav .middle .logo {
    width: 300px;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 3px;
}

#nav .element {
    width: 25%;
    height: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    color: #42698b;
    transition: background-color 0.2s;

}

#nav span {
    padding-top: 20px;
}

.dropdown-content {
    font-size: 13px;
    display: none;
    position: absolute;
    background-color: #f8f8ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 150;
    margin-top: 80px;
    font-family: 'Lato';

}

.dropdown-content-sub {
    font-size: 13px;
    display: none;
    position: absolute;
    background-color: #f8f8ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: 160px;
    margin-top: -40px;
    font-family: 'Lato';
    z-index: 150;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #080808;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 150;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.element:hover .dropdown-content {
    display: block;

}

.element:active .dropdown-content {
    display: block;
}

.grupki:hover .dropdown-content-sub {
    display: block;
}

.element:hover {
    background-color: #42698b;
    color: #f8f8ff !important;
    height: 100%;
    z-index: 150;
    position: relative;
    transition: background-color 0.2s;

}

.element span {
    margin-top: 3px;
}

.dropdown-contentmo a {
    font-size: 3vw;
    color: #448daa;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Lato;
    z-index: 150;
}

.dropdown-contentmo div {
    font-size: 4vw;
    color: #448daa;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Lato;
    z-index: 150;
}

@-moz-document url-prefix() {
    .dropdown-content {
        margin-top: 80px;
    }
}

a {
    text-decoration: none;
    color: #f8f8ff;
}

.slider {
    width: 100%;
    height: 550px;
    background-color: #5db4e2;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    overflow: hidden;

    position: relative;
}

body {
    margin: 0;
    color: black;
    font-family: 'Patrick Hand', cursive;

}

.links {
    width: 100%;
    float: left;
}

.mySlides {
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    height: 550px;
    float: left;
    width: 65%;
    background-image: url("/static/templatejpg/template.jpg");
    background-size: cover;
    background-position: center;
    left: 100%;
    -webkit-animation: slide 0.7s forwards;
    animation: slide 0.7s forwards;
    overflow: no-content;

}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
    10% {
        left: 70%;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
    10% {
        left: 70%;
    }

}

.mySlides #rightarr {
    position: relative;
    height: 100%;
    width: 5%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

.mySlides #leftarr {
    position: relative;
    height: 100%;
    width: 5%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

.slider_con {
    height: 100%;
    width: 90%;
    float: left;
}

.info_near_slider {
    width: 34.5%;
    height: 100%;
    float: right;
    background-color: #5db4e2;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
}

.slid_con_text {
    width: 100%;
}

.info_near_slider h1 {
    margin-left: 2%;
    font-size: 40px;
    margin-right: 2.5%;
    margin-top: 2%;
    color: #f8f8ff;
}

.info_near_slider .button {
    margin-left: 2%;
    padding: 5px;
    background-color: #42698b;
    width: max-content;
    border-radius: 3px;
}


#col_inn {
    width: 100%;
    position: relative;
}

.h1style {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    margin-top: 0px;
    padding-top: 10px;
    font-size: 50px;
    margin-bottom: -10px;
    text-align: center;
    color: #5db4e2;
}

.content_main {
    width: 100%;
    clear: both;

}

.button_aktual {
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


.infobox {
    margin-left: 100%;
    -webkit-animation: slide2 0.7s forwards;
    animation: slide2 0.7s forwards;
    overflow: no-content;

}
@keyframes slide2 {
    100% {
        margin-left: 0;
    }
    10% {
        margin-left: 10%;
    }

}
.gridbox {
    clear: both;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;


}

.infobox {
    margin: 5px;
    width: 350px;
    background-color: rgba(5, 155, 54, 0.56);
    font-family: 'Lato', sans-serif;
    border-radius: 2px;
    margin-top: 30px;
}

.infobox .image {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.infobox .title {
    color: whitesmoke;
    font-size: 23px;
    padding: 10px;
}

.infobox .time {
    color: whitesmoke;
    font-size: 11px;
    padding: 10px;
    padding-top: 0px;
    font-style: italic;
}

.infoboxbottom {
    margin: 30px 20px;

    width: 350px;
    height: 400px;
    border-radius: 2px;
    color: whitesmoke;
}

.infoboxbottom .title {
    width: 97%;
    margin: 0;
    margin-top: 0px;
    border-radius: 2px;
    height: 13%;
    font-size: 35px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
    padding: 0px 15px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.infoboxbottom .elementi {
    width: 94%;
    clear: both;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
    text-align: left;
}

.infoboxbottom .elementi:hover {
    background-color: rgba(0, 0, 0, 0.01);
    transition: 0.2s;
}

.slider_con h1 {
    display: none;
}

.footer {
    width: 100%;
    background-color: #5db4e2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.hrfooter {
    height: 80%;
    width: 1%;
    border: 0;
    border-left: 4px dashed #bec8d2;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

.concact {
    text-align: left;
    color: whitesmoke;
}


.dropdown-contentmo {
    display: none;
    z-index: 100;
}

#nav #rest {
    height: 0;
}

.elementmo {
    display: none;
}

#logodown {
    height: 200px;
    margin: 20px;
    width: 200px;
    background-color: black;
}

.slidergorny {
    width: 90%;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;

}

.mojpodpis {
    width: 100%;
    padding-bottom: 10px;
    float: right;
    background-color: #5db4e2;
    right: 10px;
    color: white;
    text-align: end;
    padding-right: 10px;
}

table {
    margin-left: auto;
    width: 1000px;
    margin-right: auto;
    margin-bottom: 7vh;
}

tr td {
    height: 6vh;
    width: 10%;
    font-size: 20px;
    text-align: center;
}

tr th {
    text-align: center;
    font-size: 30px;
}

tr td:first-child {
    display: none;
}

tr th:first-child {
    display: none;
}

td a {
    color: #42698b;
    pointer-events: none;
    cursor: default;
}


.row .row-centered a {
    width: 3vw !important;
    height: 3vw !important;
}

.row-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    font-size: 3vw;
}

.row img {
    width: 3vw;
    height: 3vw;
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
    #info .middle {
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    .logo {
        display: none;
    }

    #nav .middle {
        width: 100%;
    }

    .info_near_slider {
        display: none;
    }

    .mySlides {
        width: 100%;
    }

    .slider_con {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .slider_con h1 {
        margin-left: 30px;
        display: block;
        color: #f8f8ff;
        font-size: 40px;
        background-color: #5db4e2aa;
        padding: 5px;
        border-radius: 2px;
    }

    .slidergorny {
        width: 100%;
    }

    table {
        width: 97%;

    }

    .row-centered {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
    .mySlides #leftarr {
        background-size: 50%;
        width: 5%;
    }

    .mySlides #rightarr {
        background-size: 50%;
        width: 5%;
    }

    .slider_con {
        width: 90%;
    }


}

/*"Open Sans",Arial,sans-serif*/

@media only screen and  (orientation: portrait) and (max-width: 1200px) {
    #month {
        font-size: 4vw !important;
    }

    .slidergorny {

        display: none;

    }

    #info .middle {
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    .logo {
        display: none;
    }

    #nav .middle {
        width: 100%;
    }

    .info_near_slider {
        display: none;
    }

    .mySlides {
        width: 100%;
    }

    .slider_con {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .slider_con h1 {
        display: block;
        color: #f8f8ff;
        font-size: 40px;
        background-color: #5db4e2aa;
        padding: 5px;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
    }

    .mySlides #leftarr {
        background-size: 50%;
        width: 10%;
    }

    .mySlides #rightarr {
        background-size: 50%;
        width: 10%;
    }

    .slider_con {
        width: 80%;
    }

    .concact h1 {
        font-size: 6vw;
    }

    .concact div {
        font-size: 3vw;
    }

    .infobox {
        width: 80vw;
    }

    .infobox .title {
        font-size: 5vw;
    }

    .infobox .time {
        font-size: 2.3vw;
    }

    .infobox .image {
        height: 25vh;
    }

    .infoboxbottom {
        width: 80vw;
        height: auto;
        min-height: 50vh;
    }

    .infoboxbottom .title {
        font-size: 7vw;
    }

    .h1style {
        margin-bottom: -15px;
        font-size: 10vw;
    }

    .h1style p {
        font-size: 4vw;
        display: none;
    }

    .info_near_slider {
        display: none;
    }

    .slider_con h1 {
        font-size: 8vw;
        display: block;
    }

    .slider_con {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #nav {
        position: fixed;
        z-index: 3;
        height: 8vh;

    }

    #nav #rest {
        position: fixed;
        width: 100%;
        height: 0%;
        background-color: #ffffffea;
        clear: both;
        overflow-y: scroll;
        transition: height .5s;
    }

    .slider {
        position: relative;
        padding-top: 8vh;
        z-index: 0;
        overflow: hidden;
        height: 60vh;
    }

    .mySlides {
        height: 60vh;
    }

    .zeby {
        position: fixed !important;
        margin-top: 8vh !important;
    }

    #nav .middle {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }

    #info {
        display: none;

    }

    .logo {
        display: block;
        clear: both;
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .links {
        width: 100%;
        float: left;
        display: none;
    }

    #nav .middle #buttonvav {
        display: block;
        position: absolute;
    }

    .mySlides {
        width: 100%;
    }

    .content_main {
        position: relative;
        width: 100%;
    }

    .hrfooter {
        display: none;
    }

    .concact {
        text-align: center;

    }

    .elementmo {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 6vw;
        color: #42698b;
    }

    .elementmo span {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #logodown {
        width: 30vw;
        height: 30vw;
    }

    .footer {
        flex-direction: column;

    }

    .infoboxbottom .elementi {
        font-size: 4.5vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 3vw;
    }

    .infoboxbottom .title {
        width: 100%;
        margin-top: 2vh;
    }

    .mojpodpis {
        font-size: 1.5vw;
    }

    table {
        width: 97% !important;
        font-size: 5vw;
    }

    tr th {
        font-size: 4vw !important;
    }

    tr td {
        font-size: 3vw !important;
    }

    svg {
        padding: 0;
        margin: 0;
    }

    .row-centered {
        text-align: center;
        font-size: 5vh;
    }

    .row img {
        width: 5vh;
        height: 5vh;
    }

    .row {
        font-size: 5vh;
    }

    .row .row-centered a {
        width: 5vh !important;
        height: 5vh !important;
        font-size: 5vh !important;
    }

    .row b {
        font-size: 5vh !important;
    }

}
