{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %}Strona Główna przedszkola
        {{ nazwa_przedszkola|default:_('Smerfowe przedszkole') }}{% endblock %}</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <script src="{% static "js/index.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style>
        {% block style %}

        {% endblock %}

        .zeby {
            background-image: url("{% get_media_prefix %}toolbar_png/section_notch_topc.png");
            width: 100%;
            height: 8px;
            background-repeat: repeat-x;
            z-index: 1;
            position: absolute;
        }

        .logo {
            background-image: url("{% get_media_prefix %}template jpg/logo.png");
        }

        .mySlides #rightarr {
            background-image: url("{% get_media_prefix %}svg/next2ri.svg");
        }

        .mySlides #leftarr {
            background-image: url("{% get_media_prefix %}svg/next2le.svg");
        }

        #nav .middle #buttonvav {
            background-image: url("{% get_media_prefix %}svg/menu2.svg");
        }
    </style>
</head>
<body>
<div id="info">
    <div class="middle">
        {% if user.is_authenticated %}
            <div class="flexmid">Witamy Cię <b style="color: #8bfcff">{{ user.get_short_name }}</b></div>
        {% else %}
            <div class="inmiddle">
                <div class="flexmid"><img src="{% get_media_prefix %}svg/phone.svg"/>
                    <p>{{ toptel }}</p></div>
                <div class="flexmid"><img src="{% get_media_prefix %}svg/contacts.svg"/>
                    <p><a href="mailto:{{ topmail }}">{{ topmail }}</a></p></div>
                <div class="flexmid"><a href="https://goo.gl/maps/umH2G7msGQKiE53g8"><img
                        src="{% get_media_prefix %}svg/home.svg"/>
                    <p>{{ topul }}</p></a></div>
            </div>
        {% endif %}
    </div>
</div>
<div id="nav">
    <div class="middle">
        <div class="logo"></div>
        <div class="links">
            {% for i in nav %}
                {% if forloop.counter0 == 0 %}

                        <div class="element"><a href="/" style="margin-top: 23px; color: inherit;"><span>{{ i.0 }}</span></a>

                {% else %}
                    <div class="element"><span>{{ i.0 }}</span>
                {% endif %}
            <div class="dropdown-content">

                {% for j in i %}
                    {% if  forloop.counter0  == 0 %}
                    {% else %}
                        <a href="/str/{{ j.3 }}">{{ j.1 }}</a>
                    {% endif %}
                {% endfor %}
            </div>

            </div>
            {% endfor %}
            {% if user.is_authenticated %}
                <div class="element"><span>Panel</span>
                    <div class="dropdown-content">
                        <a href="/grupa/">Grupa</a>
                        <a href="/accounts/password_change/">Zmień hasło</a>
                        {% if user.is_staff %}
                            <a href="/admin">Zarządzaj</a>
                        {% endif %}
                        <a href="/accounts/logout/">Wyloguj się</a>
                    </div>
                </div>
            {% else %}
                <a href="/accounts/login">
                    <div class="element"><span>Zaloguj się</span></div>
                </a>
            {% endif %}
        </div>
        <div id="buttonvav" onclick="expand()"></div>
    </div>
    <div id="rest">
          {% for i in nav %}
              <div class="elementmo" onclick="expandmenu({{ forloop.counter }})"><span>{{ i.0 }}</span>
                  <div id="no{{ forloop.counter }}"  class="dropdown-contentmo">

                {% for j in i %}
                    {% if  forloop.counter0  == 0 %}
                    {% else %}
                       <div style="clear: both"> <a href="/str/{{ j.3 }}">{{ j.1 }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>

            </div>
            {% endfor %}
    {% if user.is_authenticated %}
                <div class="elementmo" onclick="expandmenu(5)"><span>Panel</span>
                    <div id="no5" class="dropdown-contentmo">
                        <div style="clear: both"><a href="/grupa/">Grupa</a></div>
                            <div style="clear: both"><a href="/accounts/password_change/">Zmień hasło</a></div>
                        {% if user.is_staff %}
                            <div style="clear: both"><a href="/admin">Zarządzaj</a></div>
                        {% endif %}
                            <div style="clear: both"><a href="/accounts/logout/">Wyloguj się</a></div>
                    </div>
                </div>
            {% else %}
                <a href="/accounts/login">
                    <div style="clear: both"><div class="elementmo"><span>Zaloguj się</span></div></div>
                </a>
            {% endif %}
    </div>
</div>
<div class="zeby"></div>
{% block content %}

{% endblock %}
<div style="width: 100%;height:7px; background-image: url({% static 'section_notch_bottom.png' %}); background-repeat: repeat-x;"></div>
<div class="footer">
    <div style="height: 200px;margin: 20px;width: 200px;background-color: black"></div>
    <hr class="hrfooter">
    <div class="concact"><h1 style="margin-top: -10px; text-align: center">{{ footer.1.0 }}</h1>
        <div style="font-family: 'Lato'">{% autoescape off %}{{ footer.0.0 }}{% endautoescape %}</div></div>

</div>
<div style="width: 100%;padding-bottom: 10px;float: right;background-color: #5db4e2;right: 10px;color: white;text-align: end;padding-right: 10px;">
    Made by: <b style="color: #8bfcff">Bartosz Adamczyk</b></div>
</body>
</html>