{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %}Strona Główna |
        {{ nazwa_przedszkola|default:_('"Smerfy"') }}{% endblock %}</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8"/>
    <script src="{% static "js/index.js" %}"></script>

    <meta name="theme-color" content="#f8f8ff"/>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
{% block script %}
<style>table, th, td{
        border-left: 1px solid #dddddd;
    }</style>
{% endblock %}
    <style>
        {% block style %}

        {% endblock %}

        .zeby {
            background-image: url("{% static "section_notch_topc.png" %}");
            width: 100%;
            height: 8px;
            background-repeat: repeat-x;
            z-index: 100;
            position: absolute;
        }

        .logo {
            background-image: url("http://smerfyprzedszkole.pl/media/django-summernote/2019-10-21/f2386957-f225-41c0-b078-dd64ca7065b2.png");
        }

        .mySlides #rightarr {
            background-image: url("{% static "index/next2ri.svg" %}");
        }

        .mySlides #leftarr {
            background-image: url("{% static "index/next2le.svg"%}");
        }

        #nav .middle #buttonvav {
            background-image: url("{% static "index/menu2.svg" %}");
        }
    </style>
</head>
<body onload="setInterval(plusDivs,8000)">
<div id="info">
    <div class="middle">
        {% if user.is_authenticated %}
            <div class="flexmid"><a href="/accounts/logout/">Wyloguj</a></div>
        {% else %}
            <div class="inmiddle">
                <div class="flexmid" style="display:flex; justify-content:center;width: 25%;"><img src="{% static "/base/phone.svg" %}"/>
                    <p>{{ toptel }}</p></div>
                <div class="flexmid" style="display:flex; justify-content:center;width: 25%;"><img src="{% static "/base/contacts.svg" %}"/>
                    <p><a href="mailto:{{ topmail }}">{{ topmail }}</a></p></div>
                <div class="flexmid" style="display:flex; justify-content:center;width: 27%;"><a href="https://goo.gl/maps/7P9VQXdCg9PSFPzcA"><img
                        src="{% static "/base/home.svg" %}"/>
                    <p id="address">{{ topul }}</p></a></div>
            </div>
        {% endif %}
    </div>
</div>
<div style="width: 100%; background-color: #5db4e2">
<!--<div class="slidergorny">
        {% for i in slidergorny %}
            <div class="mySlidesGorny"
                 style=" {% if forloop.counter0 == 0 %}display: block;{% else %}display: none;{% endif %}  background-image:url('{% get_media_prefix %}');">
                <div id="leftarrgo" onclick="plusDivs(-1)"></div>
                <a href="/aktualnosci/">
                    <div class="slider_con"><h1>{{ i.tytul }}</h1></div>
                </a>
                <div id="rightarrgo" onclick="plusDivs(1)"></div>
            </div>
        {% endfor %}
    </div>-->
</div>
<div id="nav">
    <div class="middle">
        <a href="/" style="height: 100%">
            <div class="logo"></div>
        </a>
        <div class="links">
            {% for i in nav %}
                {% if forloop.counter0 == 0 %}
                <div onclick="window.location='/'" class="element"><span>{{ i.0 }}</span>
                {% else %}
                    <div class="element"><span>{{ i.0 }}</span>
                    {% endif %}
            <div class="dropdown-content">
                {% if i.0 == "GRUPY" %}
                    {% for g in grupy %}
                        <div class="grupki">
                            <a>{{ g.0 }}</a>
                            <div class="dropdown-content-sub">
                                <a href="/grupy/{{ g.0 }}/aktualnosci/">Aktualności</a>
                                <a href="/grupy/{{ g.0 }}/galeria/">Galeria</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                {% for j in i %}
                    {% if  forloop.counter0  == 0 %}
                    {% else %}
                        <a href="/site/{{ j.4 }}">{{ j.1 }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>

            </div>
            {% endfor %}
        <!--
            {% if user.is_authenticated %}
                <div class="element"><span>Panel</span>
                    <div class="dropdown-content">
                        <a href="/grupa/">Grupa</a>
                        <a href="/accounts/password_change/">Zmień hasło</a>
                        {% if user.is_staff %}
                            <a href="/admin">Zarządzaj</a>
                        {% endif %}
                        <a href="/accounts/logout/">Wyloguj się</a>
                    </div>
                </div>
            {% else %}
                <a href="/accounts/login">
                    <div class="element"><span>Zaloguj się</span></div>
                </a>
            {% endif %}
            -->
            </div>
            <div id="buttonvav" onclick="expand()"></div>
        </div>
        <div id="rest">
            {% for i in nav %}
                <div class="elementmo" ><span onclick="expandmenu({{ forloop.counter }})">{{ i.0 }}</span>
                    <div id="no{{ forloop.counter }}" class="dropdown-contentmo">
                        {% if i.0 == "GRUPY" %}
                            {% for z in grupy %}
                             <div style="clear: both;padding-top: 1vh;font-weight: bold;font-family: 'Patrick Hand', cursive;" onclick="expandgroup({{ forloop.counter }})">{{ z.0 }}</div>
                                <div id="grp{{ forloop.counter }}" style="display: none">
                                    <div style="clear: both; color:#428b79; font-size: 3vw;"><a href="/grupy/{{ z.0 }}/aktualnosci/">Aktualności</a> </div>
                                    <div style="clear: both;color:#428b79;font-size: 3vw;"><a href="/grupy/{{ z.0 }}/galeria/">Galeria</a> </div>
                                </div>

                            {% endfor %}
                        {% else %}
                        {% for j in i %}
                            {% if  forloop.counter0  == 0 %}
                            {% else %}
                                <div style="clear: both"><a href="/site/{{ j.4 }}">{{ j.1 }}</a></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>

                </div>
            {% endfor %}
            <!--{% if user.is_authenticated %}
                <div class="elementmo" onclick="expandmenu(5)"><span>Panel</span>
                    <div id="no5" class="dropdown-contentmo">
                        <div style="clear: both"><a href="/grupa/">Grupa</a></div>
                        <div style="clear: both"><a href="/accounts/password_change/">Zmień hasło</a></div>
                        {% if user.is_staff %}
                            <div style="clear: both"><a href="/admin">Zarządzaj</a></div>
                        {% endif %}
                        <div style="clear: both"><a href="/accounts/logout/">Wyloguj się</a></div>
                    </div>
                </div>
            {% else %}
                <a href="/accounts/login">
                    <div style="clear: both">
                        <div class="elementmo"><span>Zaloguj się</span></div>
                    </div>
                </a>
            {% endif %}
            -->
        </div>
    </div>
    <div class="zeby"></div>
    {% block content %}

    {% endblock %}

    <div style="width: 100%;height:6px; background-image: url({% static 'section_notch_bottom.png' %}); background-repeat: repeat-x;"></div>
    <div class="footer">
        <div id="logodown" style=""></div>
        <hr class="hrfooter">
        <div class="concact"><h1 style="margin-top: -10px; text-align: center">{{ footer.1.0 }}</h1>
            <div style="font-family: 'Lato'">{% autoescape off %}{{ footer.0.0 }}{% endautoescape %}</div>
        </div>

    </div>
    <div class="mojpodpis">
        Made by: <b style="color: #8bfcff">Bartosz Adamczyk</b></div>
</body>
</html>
