{% extends 'mybase.html' %}
{% load static %}
{% block title %}
    Galeria {{ podstrona }} | {{ nazwa_przedszkola|default:_('"Smerfy"') }}
{% endblock %}
{% block style %}
    body{
    background-color:#f4f4f4;
    }
    .inner_galleria{

    width:80%;
    padding: 0 10px;
    max-width:1600px;
    background-color: #ffffffff;
    box-shadow: 6px 6px 14px -7px rgba(0,0,0,0.41);
    margin:0px auto 10px auto;
    border-radius:3px;
    font-family:Lato;

    }
    .headerakt{
    width:100%;
    align-self: flex-end;
    text-align:left;
    padding: 0 20px; color:white; margin: 0; text-align: center;
    font-size: 1.5vw;

    }
    .button_gal{
    height:10vh;background-size: contain;width: 40%;background-repeat: no-repeat;
    background-position: center;float:left;
    }
    .akt_image{
    margin: 0 auto;
    width:83%;
    max-width:1640px;
    background-color:#7602b5;
    position:relative;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:3px;
    }


    .gali {
    margin: 5px;
    width: 400px;
    background-color: rgba(5, 155, 54, 0.56);
    font-family: 'Lato', sans-serif;
    border-radius: 2px;
    margin-bottom: 30px;
    display:flex;
    flex-durection:column;
    margin-left: 1000%;
    -webkit-animation: slide2 0.7s forwards;
    animation: slide2 0.7s forwards;
    }

    .gali .image {
    width: 100%;
    height: auto;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-image: url("/media/template jpg/template.jpg");
    background-position: center;
    background-size: cover;
    }

    .gali .title {
    color: whitesmoke;
    font-size: 20px;
    padding: 10px;
    position:absolute;
align-self: flex-end;
    width: auto;
    max-width:70%;

    }
    .gali .title h1{
    background-color: #5db4e2aa;
    padding: 5px;
    width: max-content;
    margin-bottom:0;
    max-width: 370px;

    }
    @media only screen and (max-width: 1200px){
    .akt_image{
    width:100%;
    }
    .inner_galleria{
    width:100%;
    padding: 10px 0px;
    }
    }
    @media only screen and (orientation: portrait) {
    .inner_galleria{
    width:100%;
    padding: 10px 0px;
    }
    .button_gal{
    width:50%;
    height:5vh;
    }
    .inner_galleria p{
    padding: 0 10px;
        font-size:3.5vw;

    }
    .akt_image{
    width:100%;
    padding-top: 8vh;
    }
    .headerakt{
    font-size:3.5vw;
    }
    .gali{
    width: 97%;
    margin-left:auto;
    margin-right:auto;
    }
    .gali .title{
    font-size:3.5vw;
max-width:95%;
    }
    .gali .title h1{
    max-width:92%;
    }
    }
{% endblock %}
{% block content %}
    <div class="akt_image" style="height: auto;">
        <div class="headerakt"><h1
                style="">Galeria grupy {{ podstrona }}</h1>
        </div>
    </div>

    <div class="inner_galleria">
        {% if gal|length > 9 %}
            <div style="width: 100%;height:5vh">
                <div id="leftarrin" class="button_gal" onclick="nextgal(-9,{{ gal|length }})"
                     style="display:none; background-position: left;background-image: url('/static/index/previous.svg');   "></div>
                <div id="rightarrin" class="button_gal" onclick="nextgal(9,{{ gal|length }})"
                     style="background-position: right;float:right;{% if gal|length <= 9 %}display:none;{% else %}display:block;{% endif %}background-image: url('/static/index/next.svg');"></div>
            </div>
        {% endif %}
        <div style="display:flex;clear: both; flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-around;">{% if gal|length == 0 %}
                <h1 style="margin-left:auto;margin-right:auto;margin-top: 40px; color: #42698b;">Brak albumów</h1>
            {% else %}
                {% for i in gal %}
                    {% if forloop.counter0 < 200 %}
                        <a class="gale" href="/gallery/album/{{ i.pk }}/{{ i.slug }}"
                           style="{% if forloop.counter0 > 9 %} display: none; {% endif %}">
                            <div class="gali">
                                <div class="title"><h1>{{ i.title }}</h1></div>
                                <div class="image"> {% if i.display_highlight %}
                                    {% with i.display_highlight as image %}
                                        {% include "podstrony/thumbnail.html" %}
                                    {% endwith %}
                                {% else %}
                                     <div class="thumbnail">
                                        <img
                                    src="{% static 'templatejpg/template.jpg'%}"
                                    style="width: 100%;";/>
                                    </div>
                                {% endif %}</div>

                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}